<app-layout />
<router-outlet></router-outlet>

<!-- <nav>
<input type="checkbox"  id="check">
<label for="check" class="ckeckbtn">=</label>
<label class="logo">Party</label>
<ul>
  <li><a class="active" href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact us</a></li>
</ul>
</nav>
<section class="sections">
<div class="content">
  <h1>Welcome to our page</h1>
  <p>We're here to provide you with a lifetime experience.</p>
    <button class="explore_button" type="button" onclick="window.location.href='#contact'"><span></span>Explore</button>
</div>
</section>

<div class="my-4 mx-5">
<div class="card about_us">
  <h1 class="pt-5 px-5 about_header">ABOUT US</h1>
  <div class="row px-5 mt-4">
    <div class="col-lg-9 col-sm-12">
      <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat
        molestias maiores. Soluta est tempore pariatur quas rem eos et ut optio, laboriosam, expedita asperiores quos
        reprehenderit tempora libero modi.</p>
    </div>
    <div class="col-lg-3 col-sm-12 d-flex justify-content-end">
      <div class="about_card1">
        <img src="/assets/client-1.jpg" alt="" style="max-width: 100%;">
      </div>
    </div>
  </div>
  <div class="row px-5 py-5">
    <div class="col-lg-3 col-sm-12">
      <div class="about_card2">
        <img src="/assets/client-1.jpg" alt="" style="max-width: 100%;">
      </div>
    </div>
    <div class="col-lg-9 col-sm-12 pl-lg-5">
      <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cupiditate quae
        maxime ducimus, quaerat, magni tenetur iste necessitatibus qui quod eaque illo, atque quidem nesciunt error
        quasi deserunt omnis soluta!</p>
    </div>
  </div>
</div>
</div>

<div class="form_container d-flex flex-row justify-content-center" id="contact">
<form class="my-5 booking__container">
  <div class="card p-5">
    <div class="row mt-2">
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="input__group">
          <input class="form-control" type="text">
          <label>FullName</label>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="input__group">
          <input class="form-control" type="text">
          <label>E-Mail</label>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="input__group">
          <input class="form-control" type="text">
          <label>Mobile Number</label>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="input__group">
          <input class="form-control" type="numeric">
          <label>Number of Guest</label>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center mt-5">
      <button class="form_button">Submit</button>
      <button class="form_button ml-3">Reset</button>
    </div>
  </div>
</form>
</div> -->


