<div class="my-4 mx-5">
    <div class="card about_us">
      <h1 class="pt-5 px-5 about_header">ABOUT US</h1>
      <div class="row px-5 mt-4">
        <div class="col-lg-9 col-sm-12">
          <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat
            molestias maiores. Soluta est tempore pariatur quas rem eos et ut optio, laboriosam, expedita asperiores quos
            reprehenderit tempora libero modi.</p>
        </div>
        <div class="col-lg-3 col-sm-12 d-flex justify-content-end">
          <div class="about_card1">
            <img src="/assets/client-1.jpg" alt="" style="max-width: 100%;">
          </div>
        </div>
      </div>
      <div class="row px-5 py-5">
        <div class="col-lg-3 col-sm-12">
          <div class="about_card2">
            <img src="/assets/client-1.jpg" alt="" style="max-width: 100%;">
          </div>
        </div>
        <div class="col-lg-9 col-sm-12 pl-lg-5">
          <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cupiditate quae
            maxime ducimus, quaerat, magni tenetur iste necessitatibus qui quod eaque illo, atque quidem nesciunt error
            quasi deserunt omnis soluta!</p>
        </div>
      </div>
    </div>
    </div>
    