<div class="refund-policy ">
    <div class="card">
        <h1>Refund Policy</h1>
        <ul>
            <li>We collect an advance amount of 700/- towards the confirmation of your booking. Partial advance amount
                (Rs
                500/-) is refundable if you cancel the slot 72 hours prior to your booking.</li>
            <li>Please note that we do not offer refunds for any cancellations made after the 72-hour window. We also do
                not
                offer refunds for no-shows or late arrivals.</li>
            <li>If you need to cancel your booking, please contact us as soon as possible throughWhatsApp <span><a
                        href="#">(91xxxxxxxxx)</a></span>, so
                that we can make arrangements for your refund. We will process your refund within 7 business days of
                receiving your cancellation request.</li>
            <li>If you have any questions or concerns about our refund policy, please do not hesitate to contact us. We
                are
                always happy to help!</li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>